@import "~normalize.css";

body, html {
  margin: 0;
  padding: 0;
  min-width: 1200px;
}

body {
  background: url("../image/2003390.jpg") fixed;

}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.el-header, .el-footer {
  color: #FFFFFFFA;
  text-align: center;
  opacity:0.8;
}

.el-header {
  background-color: rgba(27, 28, 29, 0.96);
}

.set {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/*左边全局*/
.el-menu {
  height: 100%;
  background-color: rgba(27, 28, 29, 0.34);
}

/*左侧标题*/
.el-submenu__title {
  color: white;
  font-size: 18px;
  font-weight: 500;
  color: rgba(255, 255, 253, 0.53);
}

.el-submenu__title:hover{
  background: #00000060;
}

.el-menu-item {
  font-size: 15px;
  font-weight: 500;
  color: rgba(255, 255, 253, 0.53);
}


.el-main {
  font-size: 18px;
  background: rgba(190, 225, 230, 0.27);
}

.el-menu {
  border: none;
}
